    $C1:black;
    $C2:rgb(255, 255, 255);
    $C3:rgba(0, 162, 216, 1);
    @mixin F1() {
        color: $C1;
        font-family: 'Kalam', cursive;
        text-shadow: $C2 1px 1px, $C2 -1px 1px, $C2 -1px -1px, $C2 1px -1px;
        font-weight: bold;
    }
    
    @import url('https://fonts.googleapis.com/css?family=Kalam&display=swap');
    // Version en paysage
    @media (orientation:landscape) {
        body {
            margin: 0;
        }
        .introduce {
            display: block !important
        }
        section {
            margin: auto auto;
            margin-left: 5%;
            position: absolute;
            margin-bottom: 20px;
            background-color: rgba(230, 230, 230, 0.23);
            .row {
                margin-right: 0 !important;
            }
            a {
                .card {
                    border: 1px solid $C1;
                    padding: 5px;
                    margin-bottom: 10px;
                    width: 18rem;
                    height: 300px;
                    margin: 10px;
                    transform: scale(1.0);
                    transition: all 0.9s;
                    background-color: white;
                    .card-img-top {
                        filter: drop-shadow(0 0 1px $C1);
                        position: absolute;
                        width: 50%;
                        margin: auto auto;
                    }
                    .card-body {
                        height: 100px;
                        .card-text {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            bottom: 0;
                            left: 0;
                            text-align: center;
                            position: absolute;
                            z-index: 2;
                            color: $C1;
                        }
                    }
                }
                &:hover {
                    transform: scale(0.99);
                    background-color: rgb(214, 214, 214);
                }
            }
        }
    }
    
    @media screen and (max-width: 991px) {
        .introduce {
            display: none !important
        }
    }
    
    // Version en portrait
    @media (orientation: portrait) {
        .introduce {
            display: none !important
        }
        section {
            width: 100%;
            height: 100vh;
            padding: 20px;
            background-color: rgba(230, 230, 230, 0.23);
        }
        .row {
            margin-right: 0 !important;
        }
        a {
            transform: scale(1);
            transition: all 0.15s;
            &:hover {
                text-decoration: none;
                transform: scale(0.95);
            }
            .card {
                border: 1px solid $C1;
                padding: 5px;
                margin-bottom: 10px;
                width: 95vw;
                transform: scale(1.0);
                transition: all 0.9s;
                background-color: white;
                .card-img-top {
                    filter: drop-shadow(0 0 1px $C1);
                    position: absolute;
                    width: 7.5vh;
                    bottom: 0;
                    left: 0;
                }
                .card-body {
                    height: 150px;
                    .card-text {
                        display: flex;
                        flex-direction: column;
                        justify-content: right;
                        text-align: right;
                        z-index: 2;
                        color: $C1;
                    }
                }
            }
        }
    }
    
    // Animations
    .softos {
        animation: push 0.3s linear 1;
    }
    
    @keyframes push {
        50% {
            transform: scale(0.8);
        }
    }